<div class='sidebaritem' id='headshot'>
	<img class='img img-responsive' src='/img/ishita.jpeg' width='350'/>
</div>

<div class='sidebaritem' id='about'>
	<div class='sidebarheader'>About</div>
	<div>Undergraduate at <a target='_blank' href='https://www.umass.edu/'>UMass Amherst</a></div>
</div>

<div class='sidebaritem' id="info">
    <span style="display:block;margin-bottom: 10px;"><i class="fa fa-fw fa-map-marker-alt"></i>&nbsp;&nbsp;Amherst, MA</span>
    <span style="display:block;margin-bottom: 10px;"><a target="_blank" href="mailto:ikakkar@umass.edu" style="color:inherit"><i class="fa fa-fw fa-envelope"></i>&nbsp;&nbsp;Contact</a></span>
    <span style="display:block;margin-bottom: 10px;"><a target="_blank" href="https://github.com/???" style="color:inherit"><i class="fab fa-fw fa-github" aria-hidden="true"></i>&nbsp;&nbsp;GitHub</a></span>
    <span style="display:block;margin-bottom: 10px;"><a target="_blank" href="https://scholar.google.com/citations?user=??" style="color:inherit"><i class="fas fa-fw fa-graduation-cap"></i>&nbsp;&nbsp;Google Scholar</a></span>
    <span style="display:block;margin-bottom: 10px;"><a target="_blank" href="CV.pdf" style="color:inherit"><i class="fa fa-fw fa-file"></i>&nbsp;&nbsp;Resume</a></span>
</div>
