---
layout: default
---

<div class='mainitem' id='about'>
	<div class='hidden-md hidden-lg mainheader'>About</div>
        <!-- I will also be pursuing an M.S. in Data Science at <a target='_blank' href='https://www.harvard.edu/'>Harvard University</a> starting in Fall 2020, during which I will be advised by <a target='_blank' href='https://vcg.seas.harvard.edu/people/hanspeter-pfister'>Hanspeter Pfister</a>. --> 
	<p>
        I am a machine learning and software engineer at <a target='_blank' href='https://www.amazon.science/'>Amazon</a> where I work on the natural language understanding behind <a target='_blank' href='https://developer.amazon.com/en-US/alexa'>Alexa</a>. Formerly, I was a research engineer at <a target='_blank' href='https://www.ll.mit.edu/'>MIT Lincoln Laboratory</a>, where I studied machine learning and computer vision, and, in particular, their applications to medical images. My research interests are in learning meaningful, robust, and interpretable representations of data that enable low-resource learning.
	</p>
	<p>
        I received my Bachelor of Science in Computer Science from <a target='_blank' href='https://www.ua.edu/'>The University of Alabama</a>, where I worked with <a target='_blank' href='http://atkison.cs.ua.edu/'>Travis Atkison</a>. I have also studied at <a target='_blank' href='http://web.mit.edu/'>MIT</a> as an Advanced Studies Fellow.
	</p>
</div>


<!--
<div class='mainitem' id='news'>
	<div class='mainheader'>News</div>

	{% assign sortednews = site.news | sort: 'date','last' | reverse %}

	{% for newsitem in sortednews limit: 5 %}

		<div class='row newsitem'>
			<div class='col-md-3 col-lg-2 newsdate'>{{ newsitem.date | date: "%B %Y" }}</div>
			<div class='col-md-9 col-lg-10 newscontent'>{{ newsitem.content }}</div>
		</div>

	{% endfor %}

	<a href='newsarchive.html'>Archive</a>

</div>
-->

<div class='mainitem' id='publications'> 

	<div class='mainheader'>Publications</div>

	{% assign sorted_pubs = site.data.publications | sort: 'date' | reverse %}

	{% for pub in sorted_pubs %}

		<div class='row pub'>

			{% capture mainlink %}
				{% assign firstlink = pub.links[0] %}
				{% if firstlink.target %}
					{{ firstlink.target }}
				{% elsif firstlink.type == 'pdf' %}
					pdf/{{ pub.id }}.pdf
				{% else %}
					/
				{% endif %}
			{% endcapture %}

			<div class='col-lg-3 col-md-4 col-xs-4 pubimagesection'>
				<a target='_blank' href='{{ mainlink }}'><img class='pubimage img img-responsive' src='img/pubthumbs/{{ pub.id }}.png' width='200'/></a>
			</div>

			<div class='col-lg-9 col-md-8 col-xs-8 pubtextsection'>

				<div class='pubtitle'>
					<a target='_blank' href='{{ mainlink }}'>{{ pub.title }}</a>
				</div>

				<div class='pubauthors'>
					{% for author in pub.authors %}
                                        <!-- {% if forloop.last %}{% unless forloop.first %} and {% endunless %}{% endif %} -->
						{% if site.data.people[author] %}
							<a class='pubauthor' target='_blank' href='{{ site.data.people[author] }}'>
								{{ author }}{% if forloop.last == false %}{% unless forloop.length == 2 %}, {% endunless %}{% endif %}
							</a>
						{% else %}
							{{ author }}{% if forloop.last == false %}{% unless forloop.length == 2 %}, {% endunless %}{% endif %}
						{% endif %}
					{% endfor %}
				</div>

				<div class='pubnotes'>{{ pub.notes }}</div>

                                <div class='pubvenue', style="font-family:Arial Narrow">{{ pub.venue }}, {{pub.date}}</div>

				{% for link in pub.links %}
					{% if forloop.first == false %} {% endif %}

					{% capture lname %}
						{% if link.type == 'link' %}
							{{ link.name }}
						{% else %}
							{{ link.type }}
						{% endif %}
					{% endcapture %}

					{% capture ltarget %}
						{% if link.type == 'link' %}
							{{ link.target }}
						{% else %}
							{{ link.type }}/{% if link.target %}{{ link.target }}{% else %}{{ pub.id }}.{{ site.data.extensions[link.type] }}{% endif %}
						{% endif %}
					{% endcapture %}

					<a class='publink' target='_blank' href='{{ ltarget }}'>[{{ lname }}]</a>
				{% endfor %}

				{% if pub.award %}
					<div><span class='label pubaward'>{{ pub.award }}</span></div>
				{% endif %}

			</div>

		</div>
	{% endfor %}

	</div>

</div>


<div class='mainitem' id='awards'>
	<div class='mainheader'>Honors &amp; Awards</div>

	{% assign sortedawards = site.awards | sort: 'date','last' | reverse %}

	{% for awarditem in sortedawards limit: 500 %}

            {{awarditem.date | date: "%B %Y"}} &mdash; {{awarditem.content}}               
            <br>


	{% endfor %}

</div>
