<div class='sidebaritem' id='headshot'>
	<img class='img img-responsive' src='/img/me.jpg' width='350'/>
</div>

<div class='sidebaritem' id='about'>
	<div class='sidebarheader'>About</div>
        <!-- <div>Graduate student at <a target='_blank' href='http://harvard.edu'>Harvard University</a></div> -->
	<div>ML researcher at <a target='_blank' href='https://www.ll.mit.edu/'>MIT Lincoln Laboratory</a></div>
</div>

<div id="info">
    <span style="display:block;margin-bottom: 10px;"><i class="fa fa-fw fa-map-marker-alt"></i>&nbsp;&nbsp;Cambridge, MA</span>
    <span style="display:block;margin-bottom: 10px;"><a target="_blank" href="mailto:tzofi@mit.edu" style="color:inherit"><i class="fa fa-fw fa-envelope"></i>&nbsp;&nbsp;Contact</a></span>
    <span style="display:block;margin-bottom: 10px;"><a target="_blank" href="https://github.com/tzofi" style="color:inherit"><i class="fab fa-fw fa-github" aria-hidden="true"></i>&nbsp;&nbsp;GitHub</a></span>
    <span style="display:block;margin-bottom: 10px;"><a target="_blank" href="https://scholar.google.com/citations?user=U-h-AxUAAAAJ&hl" style="color:inherit"><i class="fas fa-fw fa-graduation-cap"></i>&nbsp;&nbsp;Google Scholar</a></span>
    <span style="display:block;margin-bottom: 10px;"><a target="_blank" href="pdf/CV.pdf" style="color:inherit"><i class="fa fa-fw fa-file"></i>&nbsp;&nbsp;Resume</a></span>
</div>

<!--
<div>
        <a href='mailto:tzofi@mit.edu' style='text-decoration:none'>
          <img src='/img/icons/email.svg' type='image/svg+xml'
               width=32px style='vertical-align:middle'>
        </a>
        &nbsp;
        <a target='_blank' href='https://github.com/tzofi' style='text-decoration:none'>
          <img src='/img/icons/github.svg' type='image/svg+xml'
               width=36px style='vertical-align:middle'>
        </a>
        &nbsp;
        <a target='_blank' href='https://scholar.google.com/citations?user=U-h-AxUAAAAJ&hl' style='text-decoration:none'>
          <img src='/img/icons/cv.png'
               width=32px style='vertical-align:middle'>
        </a>
</div>

<div class='sidebaritem' id='resume'>
        </br>
	<div class='sidebarheader'>
            <a target='_blank' href='pdf/CV.pdf'>Resume</a>
        </div>
</div>
-->
