<div class='sidebaritem' id='headshot'>
	<img class='img img-responsive' src='/img/tzofi.jpeg' width='350'/>
</div>

<div class='sidebaritem' id='about'>
	<div class='sidebarheader'>About</div>
	<div>PhD student at <a target='_blank' href='https://web.mit.edu/'>MIT</a></div>
</div>

<div class='sidebaritem' id="info">
    <span style="display:block;margin-bottom: 10px;"><i class="fa fa-fw fa-map-marker-alt"></i>&nbsp;&nbsp;Cambridge, MA</span>
    <span style="display:block;margin-bottom: 10px;"><a target="_blank" href="mailto:tzofi@mit.edu" style="color:inherit"><i class="fa fa-fw fa-envelope"></i>&nbsp;&nbsp;Contact</a></span>
    <span style="display:block;margin-bottom: 10px;"><a target="_blank" href="https://github.com/tzofi" style="color:inherit"><i class="fab fa-fw fa-github" aria-hidden="true"></i>&nbsp;&nbsp;GitHub</a></span>
    <span style="display:block;margin-bottom: 10px;"><a target="_blank" href="https://scholar.google.com/citations?user=U-h-AxUAAAAJ&hl" style="color:inherit"><i class="fas fa-fw fa-graduation-cap"></i>&nbsp;&nbsp;Google Scholar</a></span>
    <span style="display:block;margin-bottom: 10px;"><a target="_blank" href="CV.pdf" style="color:inherit"><i class="fa fa-fw fa-file"></i>&nbsp;&nbsp;Resume</a></span>
</div>

<!-- Embedded YouTube Video -->
<div class='sidebaritem' id='video'>
	<div class='sidebarheader'>Talks</div>
    <iframe width="560" height="315" src="https://youtu.be/Wy4jgiMReVg" frameborder="0" allowfullscreen></iframe>
</div>
